
.page-header {
  text-align: center;
}

.navbar-nav > li{
  padding-left:47px;
}

.search-login-basket {
  margin-right: 50px;
}

.carousel-inner > .item > img {
  margin:auto;
  width:450px;
  height:400px;
}

.carousel{
  margin:auto;
  width:450px;
  height:400px;
}

.glyphicon {
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

.search-login-basket {
  margin-top: 11px;
}
